<div class="container-fluid">
  <div class="row">
    <div class="hero-img">
      <%= image_tag("truck_hero.jpeg", :alt => "hero-img") %>
    </div>
  </div>
  <div class="row slogan">
    <div class="col-md-offset-1 col-md-10">
    <h1> <%= @slogan %> </h1>
    <h2>Transport Inner Circle</h2>
    </div>
  </div>
  <div class="row call-to-action">
    <div class="col-md-3">
      <%# filler %>
    </div>
    
    <div class="col-md-3">
      <% if I18n.locale == :en %>
        <%= button_to @cta1, new_quote_path, class: "cta1_en", :method => "get" %>
      <% else %>
        <%= button_to @cta1, new_quote_path, class: "cta1_fr", :method => "get" %>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= button_to @cta2, new_new_driver_path, class: "cta2", :method => "get" %>
    </div>

    <div class="col-md-3">
      <%# filler %>
    </div>
  </div>
</div>

<div class="value-props">
  <div class="container">
    <div class="row">
      <div class="col-md-4" >
        <div class="value">
          <h3><%= t('index.value1_title') %></h3>
          <p><%= t('index.value1_blurb') %></p>
        </div>
      </div>
      <div class="col-md-4" >
        <div class="value">
          <h3><%= t('index.value2_title') %></h3>
          <p><%= t('index.value2_blurb') %></p>
        </div>
      </div>
      <div class="col-md-4" >
        <div class="value">
          <h3><%= t('index.value3_title') %></h3>
          <p><%= t('index.value3_blurb') %></p>
        </div>
      </div>
    </div>
  </div>
</div>