<div class="container-fluid">
  <div class="row">
    <div class="hero-img">
      <%= image_tag("truck_hero.jpeg", :alt => "hero-img") %>
    </div>
  </div>
  <div class="row slogan">
    <div class="col-md-offset-1 col-md-10">
    <h1> <%= @slogan %> </h1>
    <h2>Transport Inner Circle</h2>
    </div>
  </div>
  <div class="row call-to-action">
    <div class="col-md-3">
      <%# filler %>
    </div>
    
    <div class="col-md-3">
      <% if I18n.locale == :en %>
        <%= button_to @cta1, new_quote_path, class: "cta1_en", :method => "get" %>
      <% else %>
        <%= button_to @cta1, new_quote_path, class: "cta1_fr", :method => "get" %>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= button_to @cta2, new_new_driver_path, class: "cta2", :method => "get" %>
    </div>

    <div class="col-md-3">
      <%# filler %>
    </div>
  </div>
</div>

<div class="value-props">
  <div class="container">
    <div class="row">
      <div class="col-md-4" >
        <div class="value">
          <h1>Value prop 1</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sollicitudin sit amet nisi vitae vehicula. Aliquam et leo rutrum, fermentum ante sed, finibus justo. Cras ac erat non purus consequat iaculis. Integer vitae vulputate lacus. Vestibulum iaculis quis ligula et aliquam. Donec et mi ligula. Nulla nulla eros, lacinia mattis lorem vitae, faucibus iaculis nisl. In congue nisi nulla. Mauris ut dignissim turpis, a porta libero. Fusce id tellus consequat, suscipit leo vel, pulvinar sapien. Integer mollis ipsum sed diam gravida, in auctor neque pellentesque. Proin at turpis nec mi dapibus rutrum vitae eu nunc. Donec semper, dui a porttitor pretium, est urna tincidunt ante, quis mollis ligula metus vitae turpis.</p>
        </div>
      </div>
      <div class="col-md-4" >
        <div class="value">
          <h1>Value prop 2</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sollicitudin sit amet nisi vitae vehicula. Aliquam et leo rutrum, fermentum ante sed, finibus justo. Cras ac erat non purus consequat iaculis. Integer vitae vulputate lacus. Vestibulum iaculis quis ligula et aliquam. Donec et mi ligula. Nulla nulla eros, lacinia mattis lorem vitae, faucibus iaculis nisl. In congue nisi nulla. Mauris ut dignissim turpis, a porta libero. Fusce id tellus consequat, suscipit leo vel, pulvinar sapien. Integer mollis ipsum sed diam gravida, in auctor neque pellentesque. Proin at turpis nec mi dapibus rutrum vitae eu nunc. Donec semper, dui a porttitor pretium, est urna tincidunt ante, quis mollis ligula metus vitae turpis.</p>
        </div>
      </div>
      <div class="col-md-4" >
        <div class="value">
          <h1>Value prop 3</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sollicitudin sit amet nisi vitae vehicula. Aliquam et leo rutrum, fermentum ante sed, finibus justo. Cras ac erat non purus consequat iaculis. Integer vitae vulputate lacus. Vestibulum iaculis quis ligula et aliquam. Donec et mi ligula. Nulla nulla eros, lacinia mattis lorem vitae, faucibus iaculis nisl. In congue nisi nulla. Mauris ut dignissim turpis, a porta libero. Fusce id tellus consequat, suscipit leo vel, pulvinar sapien. Integer mollis ipsum sed diam gravida, in auctor neque pellentesque. Proin at turpis nec mi dapibus rutrum vitae eu nunc. Donec semper, dui a porttitor pretium, est urna tincidunt ante, quis mollis ligula metus vitae turpis.</p>
        </div>
      </div>
    </div>
  </div>
</div>