<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <h1 class="header">Request a quote!</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <%= form_for @quote, url: {action: "create"}, html: {class: "form"} do |f| %>
        <%= f.label :name, t('Name: ') %>
        <%= f.text_field :name %>
        <%= f.label :email, t('Email: ') %>
        <%= f.text_field :email %>
        <%= f.label :message, t('message: ') %>
        <%= f.text_area :message %>
        <%# TODO BEFORE DELIVERY: translate submit button%>
        <%= f.submit 'request a quote' %>
      <% end %>
    </div>
  </div>
</div>