<ul id="menu">
  <li> <%= link_to t('menu.about_us'), about_us_path %> </li>
  <li> <%= link_to t('menu.documents'), documents_path %> </li>
  <li> <%= link_to t('menu.photos'), photos_path %> </li>
  <li> <%= link_to t('menu.track_shipment'), track_shipment_path %> </li>
  <li> <%= link_to t('menu.get_a_quote'), new_quote_path %> </li>
  <li> <%=link_to t('menu.become_a_driver'), new_new_driver_path %> </li>
  <% if admin_signed_in? %>
    <li><%= link_to "Admin Panel", rails_admin_path %></li>
    <li><%= link_to "Logout", destroy_admin_session_path, :method => :delete %></li>
  <% else %>
    <li><%= link_to "Login", admin_session_path %></li>
  <% end %>
</ul>