<ul id="menu">
  <li class="left"> <%= link_to t('menu.home'), root_path %> </li>
  <li class="left"> <%= link_to t('menu.about_us'), about_us_path %> </li>
  <li class="left"> <%= link_to t('menu.documents'), documents_path %> </li>
  <li class="left"> <%= link_to t('menu.photos'), photos_path %> </li>
  <li class="left"> <%= link_to t('menu.track_shipment'), track_shipment_path %> </li>
  <li class="right"> <%= link_to t('menu.get_a_quote'), new_quote_path %> </li>
  <li class="right"> <%=link_to t('menu.become_a_driver'), new_new_driver_path %> </li>
</ul>