<!DOCTYPE html>
<html>
  <head>
    <title>Transportinnercircle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, user-scalable=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "shared/menu" %>
    <div class="main-body">
      <%= render "shared/flash_messages", flash: flash %> 
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
